<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Принятые заказы</title>
    <link rel="stylesheet"  href="../../../../1.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo">
                <img src="../../../../logo.png" alt="">
            </div>
            <nav class="nav">
                <a class="nav_link" href="menuAdm.html">Назад</a>
                <a class="nav_link" href="entryAdm.html">Выйти</a>
            </nav>
        </div>
        <div class="list_product">
            <table >
                <div  th:each="orders: ${allOrders}">
                    <tr>
                            <td> <p th:text="'Заказ №  '+${orders.idOrder}" /></td>
                            <td> <p th:text="'Статус:  '+${orders.status}" /></td>
                    </tr>
                </div>
            </table>
        </div>
            <form class="updateStatus" action="#" th:action="@{/AcceptedOrders.html}"  method="post">
                <label><b >Изменить статус заказа</b></label>
                <input type="text"  placeholder="Введите номер заказа" name="id">
                <input type="text"  placeholder="Введите статус" name="status">
                <hr>
                <button type="submit"  class="button">Изменить</button>
            </form>



    </div>
</div>

<div class="intro">
    <div class="container">
    </div>
</div>
</body>
</html>