<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Каталог товаров</title>
    <link rel="stylesheet"  href="../../../../1.css">
</head>
<body>

<form action="#">
    <div class="header">
        <div class="container">
            <nav class="nav">
                <a class="nav_back" href="menu.html">Назад</a>
                <a class="nav_back" href="entry.html">Выйти</a>
            </nav>
        <button type="submit" class="button">Создать заказ</button>
        </div>
    </div>
</form>
<div class="intro">
    <div class="container">
    </div>
</div>
</body>
</html>