<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>вход(администратор)</title>
    <link rel="stylesheet"  href="../../../../1.css">
</head>
<body>

<form action="#"  th:action="@{/entryAdm.html}" method="post">
    <div class="header">
        <div class="container">
        <nav class="nav">
            <a class="nav_back" href="2.html">Назад</a>
        </nav>
        <h1>Вход</h1>
        <p>Пожалуйста заполните эту форму, чтобы войти.</p>
            <th><p th:text="${errorData}"/></th>

        <hr>
        <label><b>Логин</b></label>
        <input type="text" placeholder="Введите логин" name="log" required>

        <label><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="psw" required>
        <hr>

        <button type="submit" class="button">Войти</button>
        </div>
    </div>
</form>

<div class="intro">
    <div class="container">
    </div>
</div>
</body>
</html>