<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" />
    <title>вход</title>
    <link rel="stylesheet"  href="../../../../1.css">
</head>
<body>


<form action="menu.html">
    <div class="header">
        <nav class="nav">
            <a class="nav_back" href="2.html">Назад</a>
        </nav>
        <h1>Вход</h1>
        <p>Пожалуйста заполните эту форму, чтобы войти.</p>
        <hr>

        <label><b>Логин</b></label>
        <input type="text" placeholder="Введите логин" name="log" required>

        <label><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="psw" required>

        <hr>
        <button type="submit" class="button">Войти</button>
    </div>
</form>

<div class="intro">
    <div class="container">
    </div>
</div>
</body>
</html>