<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>История заказов</title>
    <link rel="stylesheet"  href="../../../../1.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo">
                <img src="../../../../logo.png" alt="">
            </div>
            <nav class="nav">
                <a class="nav_link" href="menu.html">Назад</a>
                <a class="nav_link" href="entry.html">Выйти</a>
            </nav>
        </div>
        <div class="list_product">
            <table >
                <div  th:each="orders: ${Orders}">
                    <tr>
                        <!--<th> <p th:text="'№  '+${orders.idOrder}" /></th>
                       <th> <p th:text="'Дата:  '+${#dates.format(new java.util.Date(orders.dataOrder),'dd-MMM-yyyy')}"/></th>-->
                        <th> <p th:text="'Статус:  '+${orders.status}" /></th>
                        <!--<div  th:each="orders: ${Orders.listProducts}">
                            <th><p th:text="${Orders.listProducts.title}" /></th>
                        </div>-->
                        <th> <p th:text="'Цена:  '+${orders.price}"/></th>
                    </tr>
                </div>
            </table>
        </div>
    </div>

</div>

<div class="intro">
    <div class="container">
    </div>
</div>
</body>
</html>