<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

    <meta charset="UTF-8" content="text/html; charset=UTF-8" />
    <title>Каталог</title>
    <link rel="stylesheet"  href="../../../../1.css">
</head>
<body>
<header class="header">
    <div class ="container">
        <div class="header_inner">
            <div class="header_logo">
                <img src="../../../../logo.png" alt="">
            </div>
            <nav class="nav">
                <!--<a class="nav_link" href="Catalog.html">Каталог товаров</a>-->
                <a class="nav_link" href="history.html">История заказов</a>
                <a class="nav_link" href="entry.html">Выйти</a>
            </nav>
        </div>
        <form action="#" th:action="@{/menu.html}" object="${addProd}" method="post">
        <div class="list_product">

                <table >
                        <tr th:each="products: ${allProducts}">
                           <!-- <td><p th:text="'id '+${products.idProduct}"/></td>-->
                            <td><p th:text="${products.title}"/></td>
                            <td><p th:text="'Описание: '+${products.description}"/></td>
                            <td><p th:text="'В наличии: '+${products.amount}"/></td>
                            <td><p th:text="'Цена: '+${products.price}"/></td>
                            <td><label class="check">
                                    <input type="checkbox" field="*{checkedItems}" name="checkedItems" th:value="${products.idProduct}"> <span>Добавить </span>
                           </label> </td>
                        </tr>
                </table>

        </div>
        <div class="add_order">
            <button type="submit" class="button">Создать заказ</button>
        </div>
    </form>
    </div>
</header>



    <div class="intro">
        <div class="container"/>
        </div>
    </div>

</body>
</html>