<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

    <meta charset="UTF-8" content="text/html; charset=UTF-8" />
    <title>Каталог</title>
    <link rel="stylesheet"  href="../../../../1.css">
</head>
<body>
<header class="header">
    <div class ="container">
        <div class="header_inner">
            <div class="header_logo">
                <img src="../../../../logo.png" alt="">
            </div>
            <nav class="nav">
                <!--<a class="nav_link" href="Catalog.html">Каталог товаров</a>-->
                <a class="nav_link" href="history.html">История заказов</a>
                <a class="nav_link" href="entry.html">Выйти</a>
            </nav>
        </div>

        <div  class="catalog_products" th:each="products: ${Products}">

                <p th:text="${products.title}"/>
                <p th:text="'Описание: '+${products.description}"/>
                <p th:text="'В наличии: '+${products.amount}"/>
                <p th:text="'Цена: '+${products.price}"/>
            <label>
                <input type="checkbox" class="custom-checkbox" name="add" value="yes">Добавить
            </label>
            <!--<button type="submit" class="add_button"> + </button>-->
        </div>
        <div class="add_order">
            <button type="submit" class="button">Создать заказ</button>
        </div>
    </div>
</header>



    <div class="intro">
        <div class="container"/>
        </div>
    </div>

</body>
</html>