<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" />
    <title>вход</title>
    <link rel="stylesheet"  href="../../../../1.css">
</head>
<body>
<header class="header">
    <div class ="container">
        <div class="header_inner">
            <div class="header_logo">
                <img src="img/logo.png" alt="">
            </div>
            <nav class="nav">
                <a class="nav_link" href="Catalog.html">Каталог товаров</a>
                <a class="nav_link" href="history.html">История заказов</a>
                <a class="nav_link" href="entry.html">Выйти</a>
            </nav>
        </div>
    </div>
</header>

<div class="intro">
    <div class="container">
    </div>
</div>
</body>
</html>