<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Регистрация</title>
    <link rel="stylesheet"  href ="../../../../1.css">
</head>
<body>

<form action="#" th:action="@{/registration.html}"th:object="${clientForm}" method="post" >
    <div class="header">
    <div class="container">
        <nav class="nav">
            <a class="nav_back" href="2.html">Назад</a>
        </nav>
        <h1>Регистрация</h1>
        <p>Пожалуйста заполните эту форму, чтобы создать учетную запись.</p>

        <hr>
        <label><b>Ф.И.О.</b></label>
        <input type="text" th:field="*{fio}" placeholder="Введите Ф.И.О." name="fio">

       <!-- <label><b>День рождения</b></label>
        <input type="date" th:date="*{fio}" placeholder="Введите день рождения" name="date">-->

        <label><b>Номер телефона</b></label>
        <input type="tel" th:field="*{phone}" placeholder="Введите номер" name="phone"required >

        <label><b>Логин</b></label>
        <input type="text" th:field="*{login}" placeholder="Введите логин" name="log" required>

        <label><b>Пароль</b></label>
        <input type="password" th:field="*{pass}" placeholder="Введите пароль" name="psw" required>

        <label><b>Адрес</b></label>
        <input type="text" th:field="*{address}" placeholder="Введите адрес" name="address" >

        <label><b>Email</b></label>
        <input type="email" th:field="*{email}" placeholder="Введите email" name="email" >

        <hr>
        <button type="submit"  class="button">Зарегистрироваться</button>
    </div>
    </div>
</form>

<div class="intro">
    <div class="container">
    </div>
</div>
</body>
</html>