<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Регистрация</title>
    <link rel="stylesheet"  href="css/1.css">
</head>
<body>

<form action="action.php">
    <div class="header">
        <nav class="nav">
            <a class="nav_back" href="2.html">Назад</a>
        </nav>
        <h1>Регистрация</h1>
        <p>Пожалуйста заполните эту форму, чтобы создать учетную запись.</p>
        <hr>
        <label><b>Ф.И.О.</b></label>
        <input type="text" placeholder="Введите Ф.И.О." name="fio" required>

        <label><b>День рождения</b></label>
        <input type="date" placeholder="Введите день рождения" name="date">

        <label><b>Номер телефона</b></label>
        <input type="tel" placeholder="Введите номер" name="phone"required >

        <label><b>Логин</b></label>
        <input type="text" placeholder="Введите логин" name="log" required>

        <label><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="psw" required>

        <label><b>Адрес</b></label>
        <input type="text" placeholder="Введите адрес" name="address" >

        <label><b>Email</b></label>
        <input type="email" placeholder="Введите email" name="email" >

        <hr>
        <button type="submit" class="button">Зарегистрироваться</button>
    </div>
</form>

<div class="intro">
    <div class="container">
    </div>
</div>
</body>
</html>