<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Статистика (по прибыли)</title>
    <link rel="stylesheet"  href="../../../../1.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo">
                <img src="../../../../logo.png" alt="">
            </div>
            <nav class="nav">
                <a class="nav_link" href="menuAdm.html">Назад</a>
                <a class="nav_link" href="entryAdm.html">Выйти</a>
            </nav>

        </div>
        <div class="list_product">
        <table >
            <tr th:each="products: ${statistics}">
                <td><p th:text="'Id продукта: '+${products.id}"/></td>
                <td><p th:text="'Прибыль : '+${products.profit}"/></td>
            </tr>
        </table>
    </div>
    </div>
</div>

<div class="intro">
    <div class="container">
    </div>
</div>
</body>
</html>