<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

  <meta charset="UTF-8" content="text/html; charset=UTF-8" />
  <title>Каталог</title>
  <link rel="stylesheet"  href="../../../../1.css">
</head>
<body>
<header class="header">
  <div class ="container">
    <div class="header_inner">
      <div class="header_logo">
        <img src="../../../../logo.png" alt="">
      </div>
    </div>

  </div>
</header>

<div class="intro">
  <div class="container">
    <div class="intro_inner">
      <h1 class="intro_title"> Такой пользователь уже существует!</h1>
      <a class="nav_link" href="registration.html">Вернуться...</a>
    </div>
  </div>
</div>

</body>
</html>